@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto+Condensed&display=swap");

#root,
html {
  height: 100%;
  position: relative;
}

.wrapper {
  background-color: #eafcdc;
}

.hero-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 350px;
  max-width: 350px;
}

.header-title {
  text-align: center;
  padding-bottom: 1em;
}

h5 {
  font-family: "Mukta", sans-serif;
}

p {
  font-family: "Roboto Condensed", sans-serif;
}

p.card-text b,
h3 {
  font-family: "PT Sans", sans-serif;
}
.content {
  min-height: 75vh;
}

/* Search Bar */

input[type="submit"] {
  width: 20%;
  padding: 12px 20px;
  margin: 0px;
  box-sizing: border-box;
  border: 2px solid rgb(88, 88, 88);
  border-radius: 0px 5px 0px 0px;
}
.search-form {
  position: relative;
  text-align: center;
}

.autoSuggestionBox-container {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.autoSuggestionBox-notfound {
  background-color: white;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: black;
}

.search-bar {
  margin-top: 10px;
}

.button-options {
  margin-top: 1em;
}

.btn-danger,
.btn-primary {
  margin-right: 5px;
  margin-left: 5px;
}
/* Drop down of Search Box */

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 0px;
  box-sizing: border-box;
  border: 2px solid rgb(88, 88, 88);
  border-radius: 5px 5px 0px 0px;
}

input:focus {
  outline: none;
}
.autoSuggestionBox {
  background-color: white;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: black;
}

.autoSuggestionBox-img {
  height: 50px;
  width: 50px;
}

/* Footer */

.footer {
  background-color: white;
  border-style: solid;
  border-width: 2px 0px 0px 0px;
  padding-top: 3em;
  padding-bottom: 50px;
  position: initial;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20vh;
}

.footer p.footer-copyright-notice {
  font-size: 10px;
}

/* Fish Cards */

.card {
  align-items: center;
  margin: 1em;
}

div.card {
  border-radius: 25px;
  border-color: black;
  border-width: 2px;
  -webkit-box-shadow: 5px 4px 5px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 5px 4px 5px 1px rgba(0, 0, 0, 0.44);
  box-shadow: 5px 4px 5px 1px rgba(0, 0, 0, 0.44);
}

.card-body {
  width: 100%;
}

.card-title {
  text-align: center;
}

div.fish-data-row.row {
  justify-content: center;
  background-color: #eafcdc;
  position: relative;
  padding-left: 5em;
  padding-right: 5em;
}

img.card-img-top {
  margin-top: 1.5em;
  height: 64px;
  width: 64px;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  background-color: rgb(240, 240, 240);
}

/* Danger Button Search Bar */
